<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <style>
    body {
      margin: 20px;
    }

    * {
      text-align: center;
    }
  </style>
</head>

<body>
  <div class="message">

  </div>

  {{#if err}}
    <div class="alert alert-danger" role="alert">{{err}}</div>
  {{/if}}
  <h2>Log In</h2>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" id='login-username'>
      <input type="text" class="form-control" placeholder="Password" id='login-password'>
    </div>
    <button type="submit" class="btn btn-primary" id='login-submit'>Log In</button>
    <br />
  </form>

  <h2>Register</h2>
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="First Name" id='reg-fn'>
      <input type="text" class="form-control" placeholder="Last Name" id='reg-ln'>
      <input type="text" class="form-control" placeholder="Username" id='reg-username'>
      <input type="text" class="form-control" placeholder="Password" id='reg-password'>
    </div>
    <button type="submit" class="btn btn-primary" id='reg-submit'>Register</button>
    <br />
  </form>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  const log = console.log;

  const loginSubmitBtn = document.getElementById('login-submit');
  loginSubmitBtn.addEventListener('click', function (e) {
    e.preventDefault();
    const username = document.getElementById('login-username');
    const password = document.getElementById('login-password');

    $.ajax({
      url: "/login",
      type: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ username: username.value, password: password.value }),
      success: function (data, textStatus, req) {
        // store JWT
        if (!data.err) {
          document.cookie = `JWT=${req.getResponseHeader('JWT')}`;
          window.location = data.redirect;
        } else {
          const msg = `<div class="alert alert-danger" role="alert">${data.err}</div>`;
          document.body.firstElementChild.innerHTML = msg;
        }
      },
      error: function (res) {
        alert(res.responseJSON.errorMsg);
      }
    });
  });

  const regSubmitBtn = document.getElementById('reg-submit');
  regSubmitBtn.addEventListener('click', function (e) {
    e.preventDefault();
    const fn = document.getElementById('reg-fn');
    const ln = document.getElementById('reg-ln');
    const username = document.getElementById('reg-username');
    const password = document.getElementById('reg-password');

    $.ajax({
      url: "/register",
      type: "POST",
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({ username: username.value, password: password.value, firstName: fn.value, lastName: ln.value }),
      success: function (data, textStatus, req) {
        let msg = `<div class="alert alert-danger" role="alert">${data.err}</div>`;
        if (data.success) {
          msg = `<div class="alert alert-success" role="alert">${data.success}</div>`;
          username.value = '';
          password.value = '';
          fn.value = '';
          ln.value = '';
        }
        document.body.firstElementChild.innerHTML = msg;
      },
      error: function (res) {
        alert(res.responseJSON.errorMsg);
      }
    });
  })
</script>

</html>